*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/sonarlint/issuestore/0/5/05efc8b1657769a27696d478ded1e95f38737233
.idea/checkstyle-idea.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/sonarlint/issuestore/0/1/
.idea/sonarlint/issuestore/0/2/
.idea/sonarlint/issuestore/0/3/
.idea/sonarlint/issuestore/0/4/
.idea/sonarlint/issuestore/0/7/
.idea/sonarlint/issuestore/0/8/
.idea/sonarlint/issuestore/0/b/
.idea/sonarlint/issuestore/0/d/
.idea/sonarlint/issuestore/0/e/
.idea/sonarlint/issuestore/1/
.idea/sonarlint/issuestore/2/9/
.idea/sonarlint/issuestore/2/d/
.idea/sonarlint/issuestore/2/e/
.idea/sonarlint/issuestore/3/
.idea/sonarlint/issuestore/4/
.idea/sonarlint/issuestore/5/7/
.idea/sonarlint/issuestore/5/d/
.idea/sonarlint/issuestore/6/
.idea/sonarlint/issuestore/7/
.idea/sonarlint/issuestore/8/
.idea/sonarlint/issuestore/9/
.idea/sonarlint/issuestore/a/0/
.idea/sonarlint/issuestore/a/c/
.idea/sonarlint/issuestore/a/d/
.idea/sonarlint/issuestore/b/
.idea/sonarlint/issuestore/c/
.idea/sonarlint/issuestore/d/
.idea/sonarlint/issuestore/e/
.idea/sonarlint/issuestore/f/4/
.idea/sonarlint/issuestore/f/5/
.idea/sonarlint/issuestore/f/d/
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/
/app/release/
/app/release/output.json
