<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="in.zhiwei.aqi">

	<uses-permission android:name="android.permission.INTERNET" />
	<!--android:hardwareAccelerated="false" Pointer 0x0, not in getPreloadedDrawables?的解决-->

	<application
		android:name=".AqiSophixApplication"
		android:allowBackup="false"
		android:hardwareAccelerated="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.AppCompat.Light.NoActionBar">
		<!--首页主页面-->
		<activity
			android:name=".activity.MainActivity"
			android:configChanges="orientation|keyboard|keyboardHidden|screenLayout"
			android:screenOrientation="portrait">
			<!--<intent-filter>-->
			<!--<action android:name="android.intent.action.MAIN" />-->
			<!--<category android:name="android.intent.category.LAUNCHER" />-->
			<!--</intent-filter>-->
		</activity>
		<!-- 查看aqi地图的界面-->
		<activity
			android:name=".activity.CityAQIMapActivity"
			android:screenOrientation="portrait"
			android:theme="@style/AnimTheme" />
		<!-- 关于界面-->
		<activity
			android:name=".activity.AboutActivity"
			android:screenOrientation="portrait" />
		<!--Splash 界面-->
		<activity
			android:name=".activity.SplashActivity"
			android:configChanges="orientation|keyboard|keyboardHidden|screenLayout"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<!--aqi站点搜索界面-->
		<activity
			android:name=".activity.SearchStationActivity"
			android:configChanges="orientation|keyboard|keyboardHidden|screenLayout"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<activity android:name=".webView.WebViewActivity" />

		<!-- 根据ip获取城市定位的service -->
		<service android:name=".service.LocationService" />
		<service android:name=".service.GetAQIServices" />
		<!--下载app监听-->
		<receiver android:name=".receiver.DownloadReceiver">
			<intent-filter>
				<action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
			</intent-filter>
		</receiver>
		<receiver android:name=".widgets.AqiWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>

			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/aqi_widget_info" />
		</receiver>
	</application>

</manifest>